[Unit]
Description=Vault Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/vault agent -config=/etc/vault/agent-config.hcl
Restart=on-failure
User=vault

[Install]
WantedBy=multi-user.target
