# Mark terraform provider artifacts and runner binaries for LFS
terraform/examples/**/.terraform/** filter=lfs diff=lfs merge=lfs -text
actions-runner-177273*/externals/** filter=lfs diff=lfs merge=lfs -text
