.terraform/
terraform.tfstate*
node_modules/
dist/
*.log
*.zip
*.bin
*.exe
actions-runner-1772733156/

# Ignore example local terraform provider caches
terraform/examples/**/.terraform/

# Ignore runner externals (local copies)
actions-runner-*/externals/
actions-runner/
/tmp/

# Ignore local virtualenvs
.venv-ansible/
.venv*/
.venv/
