[Unit]
Description=Daily Audit Log Rotation Timer
Requires=audit-rotate.service

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true
Accuracy=1min

OnFailure=audit-rotate-failure@%n.service

[Install]
WantedBy=timers.target
