[Unit]
Description=Run synthetic Alertmanager test every 6 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
Unit=synthetic-alert.service

[Install]
WantedBy=timers.target
