[Unit]
Description=Canonical Secrets API
After=network.target

[Service]
Type=simple
User=runner
Group=runner
WorkingDirectory=/opt/runner/repo
ExecStart=/opt/runner/repo/bin/canonical-secrets-api --config /etc/canonical_secrets.env
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
