out
node_modules
.vscode-test/
*.vsix
**/*.map
**/*.ts
!**/*.d.ts
.git
.gitignore
.yarnrc
**/*.test.ts
**/*.spec.ts
src/
tsconfig.json
tslint.json
.mocharc.json
**/.eslintrc.json
**/__mocks__
coverage
.nyc_output
test/
.github/
vscode/
.vscode/
*.code-workspace
.envrc
.env
.env.local
*.pem
*.key
*.crt
secrets/
credentials/
