[Unit]
Description=Runner healthcheck and reprovision
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=akushnir
WorkingDirectory=/home/akushnir/self-hosted-runner
ExecStart=/bin/bash /home/akushnir/self-hosted-runner/scripts/check_and_reprovision_runner.sh

[Install]
WantedBy=multi-user.target
