[Unit]
Description=NAS Repositories Mount (NFS v4)
Requires=network-online.target
After=network-online.target
Before=multi-user.target dockers.service kubernetes.service

[Mount]
What=192.16.168.39:/repositories
Where=/nas/repositories
Type=nfs4
Options=proto=tcp,vers=4.1,hard,timeo=600,retrans=3,rsize=131072,wsize=131072
TimeoutSec=30

[Install]
WantedBy=multi-user.target
