[runners]
runner1 ansible_host=localhost ansible_connection=local

[all:vars]
ansible_user=ubuntu
ansible_become=true
runner_repo_url=https://github.com/kushin77/self-hosted-runner
runner_name_prefix=eiq-runner
workdir=/opt/actions-runner
